SCADA_mark2.json
[
    {
        "id": "83a54f9f17308e4e",
        "type": "tab",
        "label": "Simulacion",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "57cb9a3dd0f0a1f5",
        "type": "tab",
        "label": "LabSir ROB1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e57e5251ccd0c627",
        "type": "group",
        "z": "83a54f9f17308e4e",
        "name": "DAQ ANGLES SIM",
        "style": {
            "label": true,
            "fill": "#addb7b"
        },
        "nodes": [
            "fe31ccfbb368d0c2",
            "69848a93c66ae3f6",
            "a497d5ef03ab15b4",
            "35361647ee1acd78",
            "58036a8c2fbd9ae9",
            "eea2b9c1a63b93cb",
            "dff790bf06b055f1",
            "bc6c5175082ef009",
            "e9e7f189fb7ca65f",
            "9ba1ec2b8d4a84e4",
            "0c36d42ded5283b9",
            "adfdfa0ca500ae08",
            "e2f7f94a12b9efa7",
            "437c415d34b7fe20",
            "b73c767d1096246e",
            "bd0e6033f9593895",
            "8d422c339fdba695",
            "013a86d5758a289e"
        ],
        "x": 1054,
        "y": 739,
        "w": 492,
        "h": 382
    },
    {
        "id": "e05aea7e4fb98542",
        "type": "group",
        "z": "83a54f9f17308e4e",
        "name": "Jogging",
        "style": {
            "fill": "#ffcf3f",
            "label": true
        },
        "nodes": [
            "2f0e1495d9cb894e",
            "0fc1663ed4d19052",
            "dc19373ff663711f",
            "26a84d450ad1a770",
            "8844480768963bce",
            "6990cfbdc520c7af",
            "861990f289871887",
            "b81cbfac57d39ccc",
            "1d626f941b4c9e67",
            "14ad135d8e86df74",
            "1cc146afd0c5ef5b",
            "ea6180d4c962abe3",
            "fa2c52829d947d02",
            "608baf14b98bfc92",
            "baf6b75eb233450d",
            "95be6655ab5fedc0",
            "0fcc303a4f71b83e",
            "a6b1f7023632aa47"
        ],
        "x": 34,
        "y": 2239,
        "w": 592,
        "h": 282
    },
    {
        "id": "825cfcc9574f0bc6",
        "type": "group",
        "z": "83a54f9f17308e4e",
        "name": "clock",
        "style": {
            "fill": "#ffff7f",
            "label": true
        },
        "nodes": [
            "f4d9fe79aa739b59",
            "4372ee5e0a25f661",
            "a03ebf0beace863e",
            "97b1783e1a349c17",
            "d035016515b0d5fb",
            "2db8426c11c341c5"
        ],
        "x": 14,
        "y": 839,
        "w": 532,
        "h": 442
    },
    {
        "id": "b362225641bc7a8a",
        "type": "group",
        "z": "83a54f9f17308e4e",
        "name": "Dashboard Control",
        "style": {
            "fill": "#addb7b",
            "label": true
        },
        "nodes": [
            "01fb1bbe7ed2b74d",
            "08465d5070418b91",
            "e64c3a46b0f41479",
            "4e32e3e60b686903",
            "27aac4ce453dca63",
            "ce377a92a26285c8",
            "6d4339dc28e8c4f7",
            "eec369e2f2f41862",
            "e113f57fd09a7505",
            "c99538ae733ff7a9",
            "1e5e3c69c17a5d9a"
        ],
        "x": 34,
        "y": 1799,
        "w": 592,
        "h": 222
    },
    {
        "id": "fa3b8ec8649317fe",
        "type": "group",
        "z": "83a54f9f17308e4e",
        "name": "DAQ POS",
        "style": {
            "fill": "#c8e7a7",
            "label": true
        },
        "nodes": [
            "0e53dfe9be87e363",
            "8ee08f06debcd5fe",
            "9eb011cd34d5d9a7",
            "4832004a58ace02c",
            "9c477d7006d88bc8",
            "62823c8e2414a58b",
            "9c9976b79b725abe",
            "4f730aae23265986",
            "847cca5394adb35d"
        ],
        "x": 34,
        "y": 1559,
        "w": 552,
        "h": 202
    },
    {
        "id": "a7610954717e0879",
        "type": "group",
        "z": "83a54f9f17308e4e",
        "name": "Linear Move",
        "style": {
            "fill": "#7fb7df",
            "label": true
        },
        "nodes": [
            "8404cb58aa932a94",
            "9810b04ac33dc642",
            "4e9a5a4dc242c6d6",
            "c6c53aad1acac5a0",
            "c61199dc5d80f489",
            "46afdaf2c4226c29",
            "d4b5389a7d3e61c2",
            "3fcc6240d116496c",
            "0abafa98bb2786da",
            "71846d7364ab28c2",
            "2426f02b808fa07c",
            "38dca30917021cca"
        ],
        "x": 694,
        "y": 2239,
        "w": 712,
        "h": 342
    },
    {
        "id": "4902160ce26e1ae1",
        "type": "group",
        "z": "83a54f9f17308e4e",
        "name": "Nombre",
        "style": {
            "label": true
        },
        "nodes": [
            "532a33f3f4ad0cfa",
            "30ebadece4a26343",
            "7fdee18dbef995a9"
        ],
        "x": 1054,
        "y": 1439,
        "w": 452,
        "h": 82
    },
    {
        "id": "ce68e5f6a0108094",
        "type": "group",
        "z": "83a54f9f17308e4e",
        "name": "EMERGENCY STOP",
        "style": {
            "label": true
        },
        "nodes": [
            "75aa207bfbae20b3",
            "7e0d1736ae18894c",
            "bf8c3dcb9b3c6edc"
        ],
        "x": 1054,
        "y": 1139,
        "w": 432,
        "h": 82
    },
    {
        "id": "4027fbf4f7ab5979",
        "type": "group",
        "z": "83a54f9f17308e4e",
        "name": "Start ROBOTSTUDIO TASK",
        "style": {
            "label": true
        },
        "nodes": [
            "343f827a852642cb",
            "940c57e8bfd6aab0",
            "75e94915d7e1cda5"
        ],
        "x": 1054,
        "y": 1239,
        "w": 532,
        "h": 82
    },
    {
        "id": "3a547e85fca22b25",
        "type": "group",
        "z": "83a54f9f17308e4e",
        "name": "IN CONTROL",
        "style": {
            "label": true
        },
        "nodes": [
            "8feaaf1f641eaa97",
            "73af4ba93f483e44",
            "b1cf219e897ed28d"
        ],
        "x": 1054,
        "y": 1339,
        "w": 452,
        "h": 82
    },
    {
        "id": "7717ce4beb2574cf",
        "type": "group",
        "z": "83a54f9f17308e4e",
        "name": "IP",
        "style": {
            "label": true
        },
        "nodes": [
            "b7213d856c0e70c9",
            "2ffb2ebb5c6dcf3c",
            "244a455a02022cd2"
        ],
        "x": 1054,
        "y": 1539,
        "w": 432,
        "h": 82
    },
    {
        "id": "f03fc388447ff6e6",
        "type": "group",
        "z": "83a54f9f17308e4e",
        "name": "Program name",
        "style": {
            "label": true
        },
        "nodes": [
            "994f8acb7e26f7bd",
            "2c852f60c97e6688",
            "b645c5748cc97b2d"
        ],
        "x": 1054,
        "y": 1639,
        "w": 512,
        "h": 82
    },
    {
        "id": "6ed7cc29413ccb6f",
        "type": "group",
        "z": "57cb9a3dd0f0a1f5",
        "name": "DAQ ANGLES SIM",
        "style": {
            "label": true,
            "fill": "#addb7b"
        },
        "nodes": [
            "5c6d7b3ff2c74ad3",
            "a200211d3d65566c",
            "3a0e5007c0fde32c",
            "96571e59ca60456c",
            "56c14e0d9f697372",
            "a445ef3f86b1544c",
            "5782fca5a0e2e95c",
            "ad6a1a975333e4d6",
            "4900d49d27dca770",
            "92f7463777af1b6c",
            "2c56bc8b9d0c1c01",
            "1566ea178905861b",
            "f3bfdce825879526",
            "ae8ea1d354ae82ac",
            "4c3d71d4c05a0ae4",
            "d662fcc6e26d5ace",
            "3f4a33b663c1812f",
            "aac697dec0640619"
        ],
        "x": 1054,
        "y": 739,
        "w": 492,
        "h": 382
    },
    {
        "id": "d36d17c9dc3fce67",
        "type": "group",
        "z": "57cb9a3dd0f0a1f5",
        "name": "Jogging",
        "style": {
            "fill": "#ffcf3f",
            "label": true
        },
        "nodes": [
            "ed7884d44c26655f",
            "d2f52781e100c5b9",
            "11e970e4411f9864",
            "b2f739d2f05471cd",
            "50e9ad2e21ec68a8",
            "39692bd75b6f7994",
            "0445747f7d44f8e1",
            "140837cbf7668d7f",
            "e1948cacd6e31003",
            "5255e4c8ef9de162",
            "e73941a57dca1808",
            "0d605cd82a296039",
            "02e7d61525850e33",
            "c0d2d716cc6fd454",
            "19c2148a21b9a24e",
            "467d7903861542ac",
            "292ec1e2d71b5f10",
            "45230626fb2c6f54"
        ],
        "x": 694,
        "y": 1939,
        "w": 592,
        "h": 282
    },
    {
        "id": "3b7edb04d90678d3",
        "type": "group",
        "z": "57cb9a3dd0f0a1f5",
        "name": "clock",
        "style": {
            "fill": "#ffff7f",
            "label": true
        },
        "nodes": [
            "0ffcb3a43a47077f",
            "0650f633f8f339dd",
            "00473a2006f68146",
            "de0e3a639f4fce8f",
            "a3bf78b971c7cc3f",
            "f165937e9e2fd36a"
        ],
        "x": 14,
        "y": 839,
        "w": 532,
        "h": 442
    },
    {
        "id": "696a8265e1c06c34",
        "type": "group",
        "z": "57cb9a3dd0f0a1f5",
        "name": "Dashboard Control",
        "style": {
            "fill": "#addb7b",
            "label": true
        },
        "nodes": [
            "994f0f2e993a95a6",
            "de5b23ca223b2bae",
            "68324a14a1ada772",
            "7adb8edabf4d5d74",
            "06633e759890b5c8",
            "c5af318b08f8da51",
            "dadf1a15377aeb51",
            "e30f840efae293de",
            "0428af455ee476a3",
            "8136d25aea2135f1",
            "bde9b63d2af039d7"
        ],
        "x": 34,
        "y": 1799,
        "w": 592,
        "h": 222
    },
    {
        "id": "473023afabf44829",
        "type": "group",
        "z": "57cb9a3dd0f0a1f5",
        "name": "DAQ POS",
        "style": {
            "fill": "#c8e7a7",
            "label": true
        },
        "nodes": [
            "a5732e64c236b5ed",
            "5d091634d6ab3f92",
            "2ad99e9b70b81131",
            "39060f5005fb05a4",
            "3630a77ac3564bb3",
            "b2fa4b56e990d7f2",
            "414581d27526746a",
            "4a9df0f8a24619a1",
            "bceb22e121941aba"
        ],
        "x": 14,
        "y": 1319,
        "w": 552,
        "h": 202
    },
    {
        "id": "e9b78c5222485069",
        "type": "group",
        "z": "57cb9a3dd0f0a1f5",
        "name": "Linear Move",
        "style": {
            "fill": "#7fb7df",
            "label": true
        },
        "nodes": [
            "e347db1531d9fc4c",
            "a225c72956939e95",
            "b113627f50a279dc",
            "913f28a4a41f901e",
            "9f0ea2ae7aa70654",
            "14e1d3b1da0bd68c",
            "4878d3019ffc49be",
            "5b8003a3669c9eb1",
            "31357a6ad68999b0",
            "4baffee02add537d",
            "2e4f57abcb0cb8a2",
            "c0ac10797c76e80c"
        ],
        "x": 714,
        "y": 2259,
        "w": 712,
        "h": 342
    },
    {
        "id": "268e9d370d6c6092",
        "type": "group",
        "z": "57cb9a3dd0f0a1f5",
        "name": "Serial number",
        "style": {
            "label": true
        },
        "nodes": [
            "5a049473172abcda",
            "f5ef709fb1dc10a0",
            "f1fbd1d698437bf1"
        ],
        "x": 574,
        "y": 1259,
        "w": 452,
        "h": 82
    },
    {
        "id": "72c9c7a90dcb2d39",
        "type": "group",
        "z": "57cb9a3dd0f0a1f5",
        "name": "EMERGENCY STOP",
        "style": {
            "label": true
        },
        "nodes": [
            "d196a409139b6161",
            "2555137322627e72",
            "a3b51d4c6551677d"
        ],
        "x": 1034,
        "y": 1139,
        "w": 432,
        "h": 82
    },
    {
        "id": "7e36333d517f5fbb",
        "type": "group",
        "z": "57cb9a3dd0f0a1f5",
        "name": "Start ROBOTSTUDIO TASK",
        "style": {
            "label": true
        },
        "nodes": [
            "23d4c08aba332d37",
            "171a9b8061d8bc6a",
            "561c8d52d0e505c9"
        ],
        "x": 1074,
        "y": 1239,
        "w": 532,
        "h": 82
    },
    {
        "id": "d522408f9a909e1e",
        "type": "group",
        "z": "57cb9a3dd0f0a1f5",
        "name": "IN CONTROL",
        "style": {
            "label": true
        },
        "nodes": [
            "10a7f4c2c5c69a75",
            "e5fa816290965cfd",
            "9bbb328ce3ef2f0a"
        ],
        "x": 1074,
        "y": 1359,
        "w": 452,
        "h": 82
    },
    {
        "id": "619d727b47143cdd",
        "type": "group",
        "z": "57cb9a3dd0f0a1f5",
        "name": "Serial number",
        "style": {
            "label": true
        },
        "nodes": [
            "09e79ce431f70280",
            "ddda30950642a4ec",
            "48d8d4677072d170"
        ],
        "x": 574,
        "y": 1359,
        "w": 432,
        "h": 82
    },
    {
        "id": "cc6ce35403b743e7",
        "type": "group",
        "z": "57cb9a3dd0f0a1f5",
        "name": "Serial number",
        "style": {
            "label": true
        },
        "nodes": [
            "efa583546e92522e",
            "f37aca7cb0cd0419",
            "68bc4ad98eb93169"
        ],
        "x": 114,
        "y": 1559,
        "w": 512,
        "h": 82
    },
    {
        "id": "96db288b205072df",
        "type": "group",
        "z": "83a54f9f17308e4e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "468e46e1a581e6ba",
            "d9848ad22e61baa6",
            "9d625f98ffce82da"
        ],
        "x": 1054,
        "y": 1839,
        "w": 572,
        "h": 82
    },
    {
        "id": "42c6acf54e95ca69",
        "type": "group",
        "z": "83a54f9f17308e4e",
        "name": "Modo planta",
        "style": {
            "label": true
        },
        "nodes": [
            "2f0b677010155fb6",
            "8c528eaa714eef46",
            "31977bedd926b183",
            "5aef43c8a3fadfdf"
        ],
        "x": 1054,
        "y": 1739,
        "w": 612,
        "h": 82
    },
    {
        "id": "4f89b5860ba1c170",
        "type": "mqtt-broker",
        "name": "node red mqtt",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "991a363c9d9d402d",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://localhost:61510/ABB.IoTGateway",
        "secpol": "Basic256Sha256",
        "secmode": "SignAndEncrypt",
        "none": false,
        "login": true,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "c38d73b4c9026bb4",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://localhost:61510/ABB.IoTGateway",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": true,
        "name": "LOCAL SERVER",
        "showErrors": false,
        "securityPolicy": "Basic256Sha256",
        "securityMode": "SignAndEncrypt",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    },
    {
        "id": "85f93a96fa14a98f",
        "type": "ui_tab",
        "name": "Simulación",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e3a2d9d7ca30ae70",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "acbc68497209c498",
        "type": "ui_group",
        "name": "Ángulos",
        "tab": "85f93a96fa14a98f",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "7f09c7c851559128",
        "type": "ui_tab",
        "name": "LabSir",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a3f484320da25085",
        "type": "ui_group",
        "name": "Control",
        "tab": "85f93a96fa14a98f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "7b7fb2b782acc222",
        "type": "ui_group",
        "name": "Estados",
        "tab": "7f09c7c851559128",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "acf892039fa08adc",
        "type": "ui_group",
        "name": "Jogging",
        "tab": "85f93a96fa14a98f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "bee392b6bc79b20b",
        "type": "ui_group",
        "name": "Posición",
        "tab": "85f93a96fa14a98f",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "763a195c9fd18f53",
        "type": "ui_group",
        "name": "Move linear",
        "tab": "85f93a96fa14a98f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "1f0ba8197bea5228",
        "type": "ui_group",
        "name": "Estados",
        "tab": "85f93a96fa14a98f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3f06ffdf43fde693",
        "type": "ui_group",
        "name": "Control",
        "tab": "7f09c7c851559128",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "79460a3c3dc6415c",
        "type": "ui_group",
        "name": "Move Linear",
        "tab": "7f09c7c851559128",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "debe9dda6ef6aa96",
        "type": "ui_group",
        "name": "Ángulos",
        "tab": "7f09c7c851559128",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b080b492fea73c8b",
        "type": "ui_group",
        "name": "Posición",
        "tab": "7f09c7c851559128",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "63e2b4f136e5e75c",
        "type": "ui_group",
        "name": "Jogging",
        "tab": "7f09c7c851559128",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe31ccfbb368d0c2",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "e57e5251ccd0c627",
        "item": "ns=4;s=DESKTOP-6OKFIJO_IRB140_6_81/MotionDevices/ROB_1/Axes/Rax_1/ParameterSet/ActualPosition",
        "datatype": "Double",
        "value": "1",
        "name": "ART 1 SIM",
        "x": 1150,
        "y": 780,
        "wires": [
            [
                "69848a93c66ae3f6"
            ]
        ]
    },
    {
        "id": "69848a93c66ae3f6",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "e57e5251ccd0c627",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "100",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1300,
        "y": 780,
        "wires": [
            [
                "e2f7f94a12b9efa7"
            ]
        ]
    },
    {
        "id": "a497d5ef03ab15b4",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "e57e5251ccd0c627",
        "item": "ns=4;s=DESKTOP-6OKFIJO_IRB140_6_81/MotionDevices/ROB_1/Axes/Rax_2/ParameterSet/ActualPosition",
        "datatype": "Double",
        "value": "1",
        "name": "ART 2 SIM",
        "x": 1150,
        "y": 840,
        "wires": [
            [
                "35361647ee1acd78"
            ]
        ]
    },
    {
        "id": "35361647ee1acd78",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "e57e5251ccd0c627",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "100",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1300,
        "y": 840,
        "wires": [
            [
                "437c415d34b7fe20"
            ]
        ]
    },
    {
        "id": "58036a8c2fbd9ae9",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "e57e5251ccd0c627",
        "item": "ns=4;s=DESKTOP-6OKFIJO_IRB140_6_81/MotionDevices/ROB_1/Axes/Rax_3/ParameterSet/ActualPosition",
        "datatype": "Double",
        "value": "1",
        "name": "ART 3 SIM",
        "x": 1150,
        "y": 900,
        "wires": [
            [
                "eea2b9c1a63b93cb"
            ]
        ]
    },
    {
        "id": "eea2b9c1a63b93cb",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "e57e5251ccd0c627",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "100",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1300,
        "y": 900,
        "wires": [
            [
                "b73c767d1096246e"
            ]
        ]
    },
    {
        "id": "dff790bf06b055f1",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "e57e5251ccd0c627",
        "item": "ns=4;s=DESKTOP-6OKFIJO_IRB140_6_81/MotionDevices/ROB_1/Axes/Rax_4/ParameterSet/ActualPosition",
        "datatype": "Double",
        "value": "1",
        "name": "ART 4 SIM",
        "x": 1150,
        "y": 960,
        "wires": [
            [
                "bc6c5175082ef009"
            ]
        ]
    },
    {
        "id": "bc6c5175082ef009",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "e57e5251ccd0c627",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "100",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1300,
        "y": 960,
        "wires": [
            [
                "bd0e6033f9593895"
            ]
        ]
    },
    {
        "id": "e9e7f189fb7ca65f",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "e57e5251ccd0c627",
        "item": "ns=4;s=DESKTOP-6OKFIJO_IRB140_6_81/MotionDevices/ROB_1/Axes/Rax_5/ParameterSet/ActualPosition",
        "datatype": "Double",
        "value": "1",
        "name": "ART 5 SIM",
        "x": 1150,
        "y": 1020,
        "wires": [
            [
                "9ba1ec2b8d4a84e4"
            ]
        ]
    },
    {
        "id": "9ba1ec2b8d4a84e4",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "e57e5251ccd0c627",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "100",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1300,
        "y": 1020,
        "wires": [
            [
                "8d422c339fdba695"
            ]
        ]
    },
    {
        "id": "0c36d42ded5283b9",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "e57e5251ccd0c627",
        "item": "ns=4;s=DESKTOP-6OKFIJO_IRB140_6_81/MotionDevices/ROB_1/Axes/Rax_6/ParameterSet/ActualPosition",
        "datatype": "Double",
        "value": "1",
        "name": "ART 6 SIM",
        "x": 1150,
        "y": 1080,
        "wires": [
            [
                "adfdfa0ca500ae08"
            ]
        ]
    },
    {
        "id": "adfdfa0ca500ae08",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "e57e5251ccd0c627",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "100",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1300,
        "y": 1080,
        "wires": [
            [
                "013a86d5758a289e"
            ]
        ]
    },
    {
        "id": "e2f7f94a12b9efa7",
        "type": "ui_chart",
        "z": "83a54f9f17308e4e",
        "g": "e57e5251ccd0c627",
        "name": "ANG1 SIM",
        "group": "acbc68497209c498",
        "order": 1,
        "width": "6",
        "height": "5",
        "label": "Ángulo articulación 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 780,
        "wires": [
            [
                "a31a57bbda9347ba"
            ]
        ]
    },
    {
        "id": "437c415d34b7fe20",
        "type": "ui_chart",
        "z": "83a54f9f17308e4e",
        "g": "e57e5251ccd0c627",
        "name": "ANG2 SIM",
        "group": "acbc68497209c498",
        "order": 2,
        "width": "6",
        "height": "5",
        "label": "Ángulo articulación 2",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 840,
        "wires": [
            [
                "46ed53cc8b35f0e4"
            ]
        ]
    },
    {
        "id": "b73c767d1096246e",
        "type": "ui_chart",
        "z": "83a54f9f17308e4e",
        "g": "e57e5251ccd0c627",
        "name": "ANG3 SIM",
        "group": "acbc68497209c498",
        "order": 3,
        "width": "6",
        "height": "5",
        "label": "Ángulo articulación 3",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 900,
        "wires": [
            [
                "5e3f364037e77d4d"
            ]
        ]
    },
    {
        "id": "bd0e6033f9593895",
        "type": "ui_chart",
        "z": "83a54f9f17308e4e",
        "g": "e57e5251ccd0c627",
        "name": "ANG4 SIM",
        "group": "acbc68497209c498",
        "order": 4,
        "width": "6",
        "height": "5",
        "label": "Ángulo articulación 4",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 960,
        "wires": [
            [
                "bf650cfe6df6b0d6"
            ]
        ]
    },
    {
        "id": "8d422c339fdba695",
        "type": "ui_chart",
        "z": "83a54f9f17308e4e",
        "g": "e57e5251ccd0c627",
        "name": "ANG5 SIM",
        "group": "acbc68497209c498",
        "order": 5,
        "width": "6",
        "height": "5",
        "label": "Ángulo articulación 5",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 1020,
        "wires": [
            [
                "2a574c3bf2747261"
            ]
        ]
    },
    {
        "id": "013a86d5758a289e",
        "type": "ui_chart",
        "z": "83a54f9f17308e4e",
        "g": "e57e5251ccd0c627",
        "name": "ANG6 SIM",
        "group": "acbc68497209c498",
        "order": 6,
        "width": "6",
        "height": "5",
        "label": "Ángulo articulación 6",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 1080,
        "wires": [
            [
                "6f3e9855c858a1ea"
            ]
        ]
    },
    {
        "id": "a31a57bbda9347ba",
        "type": "file",
        "z": "83a54f9f17308e4e",
        "d": true,
        "name": "datos ANG SIM",
        "filename": "C:\\Users\\andre\\Downloads\\Semestre-10\\SCADA y controladores industriales\\Projecto\\ang1.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1880,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "1547c22ed6b7d88c",
        "type": "file",
        "z": "83a54f9f17308e4e",
        "d": true,
        "name": "datos ANG SIM",
        "filename": "C:\\Users\\andre\\Downloads\\Semestre-10\\SCADA y controladores industriales\\Projecto\\ang1.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2020,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "5c16e72d5b092b90",
        "type": "file",
        "z": "83a54f9f17308e4e",
        "d": true,
        "name": "datos ANG SIM",
        "filename": "C:\\Users\\andre\\Downloads\\Semestre-10\\SCADA y controladores industriales\\Projecto\\ang1.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2020,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "80c074dd6099ebb4",
        "type": "file",
        "z": "83a54f9f17308e4e",
        "d": true,
        "name": "datos ANG SIM",
        "filename": "C:\\Users\\andre\\Downloads\\Semestre-10\\SCADA y controladores industriales\\Projecto\\ang1.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2020,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "62aaea9a8c5c8673",
        "type": "file",
        "z": "83a54f9f17308e4e",
        "d": true,
        "name": "datos ANG SIM",
        "filename": "C:\\Users\\andre\\Downloads\\Semestre-10\\SCADA y controladores industriales\\Projecto\\ang1.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2020,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "f3f7cd5811204cef",
        "type": "file",
        "z": "83a54f9f17308e4e",
        "d": true,
        "name": "datos ANG SIM",
        "filename": "C:\\Users\\andre\\Downloads\\Semestre-10\\SCADA y controladores industriales\\Projecto\\ang1.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2020,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "46ed53cc8b35f0e4",
        "type": "delay",
        "z": "83a54f9f17308e4e",
        "d": true,
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1870,
        "y": 840,
        "wires": [
            [
                "1547c22ed6b7d88c"
            ]
        ]
    },
    {
        "id": "5e3f364037e77d4d",
        "type": "delay",
        "z": "83a54f9f17308e4e",
        "d": true,
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1870,
        "y": 900,
        "wires": [
            [
                "5c16e72d5b092b90"
            ]
        ]
    },
    {
        "id": "bf650cfe6df6b0d6",
        "type": "delay",
        "z": "83a54f9f17308e4e",
        "d": true,
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1870,
        "y": 960,
        "wires": [
            [
                "80c074dd6099ebb4"
            ]
        ]
    },
    {
        "id": "2a574c3bf2747261",
        "type": "delay",
        "z": "83a54f9f17308e4e",
        "d": true,
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1870,
        "y": 1020,
        "wires": [
            [
                "62aaea9a8c5c8673"
            ]
        ]
    },
    {
        "id": "6f3e9855c858a1ea",
        "type": "delay",
        "z": "83a54f9f17308e4e",
        "d": true,
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1870,
        "y": 1080,
        "wires": [
            [
                "f3f7cd5811204cef"
            ]
        ]
    },
    {
        "id": "f4d9fe79aa739b59",
        "type": "function",
        "z": "83a54f9f17308e4e",
        "g": "825cfcc9574f0bc6",
        "name": "FLOW DAQ",
        "func": "flow.set(\"DAQSIM\",msg.payload)\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "4372ee5e0a25f661",
        "type": "switch",
        "z": "83a54f9f17308e4e",
        "g": "825cfcc9574f0bc6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 880,
        "wires": [
            [
                "a03ebf0beace863e"
            ]
        ]
    },
    {
        "id": "a03ebf0beace863e",
        "type": "delay",
        "z": "83a54f9f17308e4e",
        "g": "825cfcc9574f0bc6",
        "name": "del .2s",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 350,
        "y": 880,
        "wires": [
            [
                "97b1783e1a349c17"
            ]
        ]
    },
    {
        "id": "97b1783e1a349c17",
        "type": "function",
        "z": "83a54f9f17308e4e",
        "g": "825cfcc9574f0bc6",
        "name": "Clock .2s",
        "func": "var est = flow.get(\"DAQSIM\");\n\nmsg.payload=est;\n    return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 880,
        "wires": [
            [
                "4372ee5e0a25f661",
                "0c36d42ded5283b9",
                "e9e7f189fb7ca65f",
                "dff790bf06b055f1",
                "58036a8c2fbd9ae9",
                "a497d5ef03ab15b4",
                "fe31ccfbb368d0c2",
                "75aa207bfbae20b3",
                "343f827a852642cb",
                "8feaaf1f641eaa97"
            ]
        ]
    },
    {
        "id": "2f0e1495d9cb894e",
        "type": "ui_slider",
        "z": "83a54f9f17308e4e",
        "g": "e05aea7e4fb98542",
        "name": "",
        "label": "Articulación 1",
        "tooltip": "",
        "group": "acf892039fa08adc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-179",
        "max": "179",
        "step": 1,
        "className": "",
        "x": 140,
        "y": 2280,
        "wires": [
            [
                "b81cbfac57d39ccc"
            ]
        ]
    },
    {
        "id": "0fc1663ed4d19052",
        "type": "ui_slider",
        "z": "83a54f9f17308e4e",
        "g": "e05aea7e4fb98542",
        "name": "",
        "label": "Articulación 2",
        "tooltip": "",
        "group": "acf892039fa08adc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-79",
        "max": "109",
        "step": 1,
        "className": "",
        "x": 140,
        "y": 2320,
        "wires": [
            [
                "14ad135d8e86df74"
            ]
        ]
    },
    {
        "id": "dc19373ff663711f",
        "type": "ui_slider",
        "z": "83a54f9f17308e4e",
        "g": "e05aea7e4fb98542",
        "name": "",
        "label": "Articulación 3",
        "tooltip": "",
        "group": "acf892039fa08adc",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-229",
        "max": "49",
        "step": 1,
        "className": "",
        "x": 140,
        "y": 2360,
        "wires": [
            [
                "ea6180d4c962abe3"
            ]
        ]
    },
    {
        "id": "26a84d450ad1a770",
        "type": "ui_slider",
        "z": "83a54f9f17308e4e",
        "g": "e05aea7e4fb98542",
        "name": "",
        "label": "Articulación 4",
        "tooltip": "",
        "group": "acf892039fa08adc",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-199",
        "max": "199",
        "step": 1,
        "className": "",
        "x": 140,
        "y": 2400,
        "wires": [
            [
                "608baf14b98bfc92"
            ]
        ]
    },
    {
        "id": "8844480768963bce",
        "type": "ui_slider",
        "z": "83a54f9f17308e4e",
        "g": "e05aea7e4fb98542",
        "name": "",
        "label": "Articulación 5",
        "tooltip": "",
        "group": "acf892039fa08adc",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-114",
        "max": "114",
        "step": 1,
        "className": "",
        "x": 140,
        "y": 2440,
        "wires": [
            [
                "95be6655ab5fedc0"
            ]
        ]
    },
    {
        "id": "6990cfbdc520c7af",
        "type": "ui_slider",
        "z": "83a54f9f17308e4e",
        "g": "e05aea7e4fb98542",
        "name": "",
        "label": "Articulación 6",
        "tooltip": "",
        "group": "acf892039fa08adc",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-399",
        "max": "399",
        "step": 1,
        "className": "",
        "x": 140,
        "y": 2480,
        "wires": [
            [
                "a6b1f7023632aa47"
            ]
        ]
    },
    {
        "id": "861990f289871887",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "e05aea7e4fb98542",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "65535",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "",
        "x": 520,
        "y": 2280,
        "wires": [
            []
        ]
    },
    {
        "id": "b81cbfac57d39ccc",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "e05aea7e4fb98542",
        "item": "ns=3;s=DESKTOP-6OKFIJO_IRB140_6_81/RAPID/T_ROB1/Module1/IOTJ1",
        "datatype": "Double",
        "value": "0",
        "name": "",
        "x": 360,
        "y": 2280,
        "wires": [
            [
                "861990f289871887"
            ]
        ]
    },
    {
        "id": "1d626f941b4c9e67",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "e05aea7e4fb98542",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "65535",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "",
        "x": 520,
        "y": 2320,
        "wires": [
            []
        ]
    },
    {
        "id": "14ad135d8e86df74",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "e05aea7e4fb98542",
        "item": "ns=3;s=DESKTOP-6OKFIJO_IRB140_6_81/RAPID/T_ROB1/Module1/IOTJ2",
        "datatype": "Double",
        "value": "0",
        "name": "",
        "x": 360,
        "y": 2320,
        "wires": [
            [
                "1d626f941b4c9e67"
            ]
        ]
    },
    {
        "id": "1cc146afd0c5ef5b",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "e05aea7e4fb98542",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "65535",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "",
        "x": 520,
        "y": 2360,
        "wires": [
            []
        ]
    },
    {
        "id": "ea6180d4c962abe3",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "e05aea7e4fb98542",
        "item": "ns=3;s=DESKTOP-6OKFIJO_IRB140_6_81/RAPID/T_ROB1/Module1/IOTJ3",
        "datatype": "Double",
        "value": "0",
        "name": "",
        "x": 360,
        "y": 2360,
        "wires": [
            [
                "1cc146afd0c5ef5b"
            ]
        ]
    },
    {
        "id": "fa2c52829d947d02",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "e05aea7e4fb98542",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "65535",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "",
        "x": 520,
        "y": 2400,
        "wires": [
            []
        ]
    },
    {
        "id": "608baf14b98bfc92",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "e05aea7e4fb98542",
        "item": "ns=3;s=DESKTOP-6OKFIJO_IRB140_6_81/RAPID/T_ROB1/Module1/IOTJ4",
        "datatype": "Double",
        "value": "0",
        "name": "",
        "x": 360,
        "y": 2400,
        "wires": [
            [
                "fa2c52829d947d02"
            ]
        ]
    },
    {
        "id": "baf6b75eb233450d",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "e05aea7e4fb98542",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "65535",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "",
        "x": 520,
        "y": 2440,
        "wires": [
            []
        ]
    },
    {
        "id": "95be6655ab5fedc0",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "e05aea7e4fb98542",
        "item": "ns=3;s=DESKTOP-6OKFIJO_IRB140_6_81/RAPID/T_ROB1/Module1/IOTJ5",
        "datatype": "Double",
        "value": "0",
        "name": "",
        "x": 360,
        "y": 2440,
        "wires": [
            [
                "baf6b75eb233450d"
            ]
        ]
    },
    {
        "id": "0fcc303a4f71b83e",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "e05aea7e4fb98542",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "65535",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "",
        "x": 520,
        "y": 2480,
        "wires": [
            []
        ]
    },
    {
        "id": "a6b1f7023632aa47",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "e05aea7e4fb98542",
        "item": "ns=3;s=DESKTOP-6OKFIJO_IRB140_6_81/RAPID/T_ROB1/Module1/IOTJ6",
        "datatype": "Double",
        "value": "0",
        "name": "",
        "x": 360,
        "y": 2480,
        "wires": [
            [
                "0fcc303a4f71b83e"
            ]
        ]
    },
    {
        "id": "0e53dfe9be87e363",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "fa3b8ec8649317fe",
        "item": "ns=3;s=DESKTOP-6OKFIJO_IRB140_6_81/RAPID/T_ROB1/Module1/POSY",
        "datatype": "Boolean",
        "value": "1",
        "name": "ART 2 SIM",
        "x": 130,
        "y": 1660,
        "wires": [
            [
                "4832004a58ace02c"
            ]
        ]
    },
    {
        "id": "8ee08f06debcd5fe",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "fa3b8ec8649317fe",
        "item": "ns=3;s=DESKTOP-6OKFIJO_IRB140_6_81/RAPID/T_ROB1/Module1/POSZ",
        "datatype": "Double",
        "value": "1",
        "name": "ART 3 SIM",
        "x": 130,
        "y": 1720,
        "wires": [
            [
                "9eb011cd34d5d9a7"
            ]
        ]
    },
    {
        "id": "9eb011cd34d5d9a7",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "fa3b8ec8649317fe",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 280,
        "y": 1720,
        "wires": [
            [
                "62823c8e2414a58b"
            ]
        ]
    },
    {
        "id": "4832004a58ace02c",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "fa3b8ec8649317fe",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 280,
        "y": 1660,
        "wires": [
            [
                "9c477d7006d88bc8"
            ]
        ]
    },
    {
        "id": "9c477d7006d88bc8",
        "type": "ui_text",
        "z": "83a54f9f17308e4e",
        "g": "fa3b8ec8649317fe",
        "group": "bee392b6bc79b20b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Coordenada Y (mm)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 460,
        "y": 1660,
        "wires": []
    },
    {
        "id": "62823c8e2414a58b",
        "type": "ui_text",
        "z": "83a54f9f17308e4e",
        "g": "fa3b8ec8649317fe",
        "group": "bee392b6bc79b20b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Coordenada Z (mm)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 460,
        "y": 1720,
        "wires": []
    },
    {
        "id": "9c9976b79b725abe",
        "type": "ui_text",
        "z": "83a54f9f17308e4e",
        "g": "fa3b8ec8649317fe",
        "group": "bee392b6bc79b20b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Coordenada X (mm)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 460,
        "y": 1600,
        "wires": []
    },
    {
        "id": "4f730aae23265986",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "fa3b8ec8649317fe",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT SUBS",
        "x": 280,
        "y": 1600,
        "wires": [
            [
                "9c9976b79b725abe"
            ]
        ]
    },
    {
        "id": "847cca5394adb35d",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "fa3b8ec8649317fe",
        "item": "ns=3;s=DESKTOP-6OKFIJO_IRB140_6_81/RAPID/T_ROB1/Module1/POSX",
        "datatype": "Double",
        "value": "1",
        "name": "ART 1 SIM",
        "x": 130,
        "y": 1600,
        "wires": [
            [
                "4f730aae23265986"
            ]
        ]
    },
    {
        "id": "d035016515b0d5fb",
        "type": "ui_switch",
        "z": "83a54f9f17308e4e",
        "g": "825cfcc9574f0bc6",
        "name": "",
        "label": "DAQ",
        "tooltip": "",
        "group": "a3f484320da25085",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 920,
        "wires": [
            [
                "f4d9fe79aa739b59",
                "4372ee5e0a25f661",
                "2db8426c11c341c5",
                "7fdee18dbef995a9",
                "244a455a02022cd2"
            ]
        ]
    },
    {
        "id": "2db8426c11c341c5",
        "type": "clock-generator",
        "z": "83a54f9f17308e4e",
        "g": "825cfcc9574f0bc6",
        "name": "Clock 1s",
        "topic": "",
        "period": "1",
        "output": "1",
        "init": false,
        "x": 120,
        "y": 1240,
        "wires": [
            [
                "847cca5394adb35d",
                "0e53dfe9be87e363",
                "8ee08f06debcd5fe",
                "5aef43c8a3fadfdf",
                "d9848ad22e61baa6",
                "b645c5748cc97b2d"
            ],
            []
        ]
    },
    {
        "id": "01fb1bbe7ed2b74d",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "b362225641bc7a8a",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "65535",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "",
        "x": 520,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "08465d5070418b91",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "b362225641bc7a8a",
        "item": "ns=3;s=DESKTOP-6OKFIJO_IRB140_6_81/IO_System/IO_Signals/DI_IOT_01",
        "datatype": "Boolean",
        "value": "0",
        "name": "",
        "x": 360,
        "y": 1840,
        "wires": [
            [
                "01fb1bbe7ed2b74d"
            ]
        ]
    },
    {
        "id": "e64c3a46b0f41479",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "b362225641bc7a8a",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "65535",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "",
        "x": 460,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "4e32e3e60b686903",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "b362225641bc7a8a",
        "item": "ns=3;s=DESKTOP-6OKFIJO_IRB140_6_81/IO_System/IO_Signals/DI_INT_IOT_01",
        "datatype": "UInt32",
        "value": "0",
        "name": "",
        "x": 300,
        "y": 1980,
        "wires": [
            [
                "e64c3a46b0f41479"
            ]
        ]
    },
    {
        "id": "27aac4ce453dca63",
        "type": "trigger",
        "z": "83a54f9f17308e4e",
        "g": "b362225641bc7a8a",
        "name": "PULSE",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "num",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 220,
        "y": 1840,
        "wires": [
            [
                "08465d5070418b91"
            ]
        ]
    },
    {
        "id": "ce377a92a26285c8",
        "type": "ui_button",
        "z": "83a54f9f17308e4e",
        "g": "b362225641bc7a8a",
        "name": "",
        "group": "a3f484320da25085",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Iniciar",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 1840,
        "wires": [
            [
                "27aac4ce453dca63"
            ]
        ]
    },
    {
        "id": "6d4339dc28e8c4f7",
        "type": "ui_dropdown",
        "z": "83a54f9f17308e4e",
        "g": "b362225641bc7a8a",
        "name": "",
        "label": "Acción",
        "tooltip": "Seleccione una acción a realizar",
        "place": "Select option",
        "group": "a3f484320da25085",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Program Home",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Routine Home",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Tool Left",
                "value": "3",
                "type": "str"
            },
            {
                "label": "Tool Right",
                "value": "4",
                "type": "str"
            },
            {
                "label": "Security",
                "value": "5",
                "type": "str"
            },
            {
                "label": "Joint Move",
                "value": "6",
                "type": "str"
            },
            {
                "label": "Linear Move",
                "value": "7",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 110,
        "y": 1980,
        "wires": [
            [
                "4e32e3e60b686903"
            ]
        ]
    },
    {
        "id": "8404cb58aa932a94",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "a7610954717e0879",
        "item": "ns=3;s=DESKTOP-6OKFIJO_IRB140_6_81/RAPID/T_ROB1/Module1/MOVEPOSZ",
        "datatype": "Double",
        "value": "1",
        "name": "MOVE POS Z",
        "x": 1080,
        "y": 2500,
        "wires": [
            [
                "9810b04ac33dc642"
            ]
        ]
    },
    {
        "id": "9810b04ac33dc642",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "a7610954717e0879",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1300,
        "y": 2500,
        "wires": [
            []
        ]
    },
    {
        "id": "4e9a5a4dc242c6d6",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "a7610954717e0879",
        "item": "ns=3;s=DESKTOP-6OKFIJO_IRB140_6_81/RAPID/T_ROB1/Module1/MOVEPOSY",
        "datatype": "Double",
        "value": "1",
        "name": "MOVE POS Y",
        "x": 1080,
        "y": 2400,
        "wires": [
            [
                "c6c53aad1acac5a0"
            ]
        ]
    },
    {
        "id": "c6c53aad1acac5a0",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "a7610954717e0879",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1300,
        "y": 2400,
        "wires": [
            []
        ]
    },
    {
        "id": "c61199dc5d80f489",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "a7610954717e0879",
        "item": "ns=3;s=DESKTOP-6OKFIJO_IRB140_6_81/RAPID/T_ROB1/Module1/MOVEPOSX",
        "datatype": "Double",
        "value": "1",
        "name": "MOVE POS X",
        "x": 1080,
        "y": 2320,
        "wires": [
            [
                "46afdaf2c4226c29"
            ]
        ]
    },
    {
        "id": "46afdaf2c4226c29",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "a7610954717e0879",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1300,
        "y": 2320,
        "wires": [
            []
        ]
    },
    {
        "id": "d4b5389a7d3e61c2",
        "type": "ui_text_input",
        "z": "83a54f9f17308e4e",
        "g": "a7610954717e0879",
        "name": "",
        "label": "Move X",
        "tooltip": "",
        "group": "763a195c9fd18f53",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "100",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 780,
        "y": 2280,
        "wires": [
            [
                "c61199dc5d80f489"
            ]
        ]
    },
    {
        "id": "3fcc6240d116496c",
        "type": "ui_text_input",
        "z": "83a54f9f17308e4e",
        "g": "a7610954717e0879",
        "name": "",
        "label": "Move Y",
        "tooltip": "",
        "group": "763a195c9fd18f53",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "100",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 780,
        "y": 2380,
        "wires": [
            [
                "4e9a5a4dc242c6d6"
            ]
        ]
    },
    {
        "id": "0abafa98bb2786da",
        "type": "ui_text_input",
        "z": "83a54f9f17308e4e",
        "g": "a7610954717e0879",
        "name": "",
        "label": "Move Z",
        "tooltip": "",
        "group": "763a195c9fd18f53",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "100",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 780,
        "y": 2480,
        "wires": [
            [
                "8404cb58aa932a94"
            ]
        ]
    },
    {
        "id": "71846d7364ab28c2",
        "type": "ui_slider",
        "z": "83a54f9f17308e4e",
        "g": "a7610954717e0879",
        "name": "",
        "label": "Move X",
        "tooltip": "",
        "group": "763a195c9fd18f53",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-100",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 780,
        "y": 2340,
        "wires": [
            [
                "c61199dc5d80f489"
            ]
        ]
    },
    {
        "id": "2426f02b808fa07c",
        "type": "ui_slider",
        "z": "83a54f9f17308e4e",
        "g": "a7610954717e0879",
        "name": "",
        "label": "Move Y",
        "tooltip": "",
        "group": "763a195c9fd18f53",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-100",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 780,
        "y": 2420,
        "wires": [
            [
                "4e9a5a4dc242c6d6"
            ]
        ]
    },
    {
        "id": "38dca30917021cca",
        "type": "ui_slider",
        "z": "83a54f9f17308e4e",
        "g": "a7610954717e0879",
        "name": "",
        "label": "Move Z",
        "tooltip": "",
        "group": "763a195c9fd18f53",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-100",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 780,
        "y": 2540,
        "wires": [
            [
                "8404cb58aa932a94"
            ]
        ]
    },
    {
        "id": "1e5e3c69c17a5d9a",
        "type": "debug",
        "z": "83a54f9f17308e4e",
        "g": "b362225641bc7a8a",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1920,
        "wires": []
    },
    {
        "id": "c99538ae733ff7a9",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "b362225641bc7a8a",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "65535",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "",
        "x": 340,
        "y": 1920,
        "wires": [
            [
                "1e5e3c69c17a5d9a"
            ]
        ]
    },
    {
        "id": "e113f57fd09a7505",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "b362225641bc7a8a",
        "item": "ns=3;s=DESKTOP-6OKFIJO_IRB140_6_81/IO_System/IO_Signals/DI_IOT_02",
        "datatype": "Boolean",
        "value": "0",
        "name": "STOP",
        "x": 210,
        "y": 1920,
        "wires": [
            [
                "c99538ae733ff7a9"
            ]
        ]
    },
    {
        "id": "eec369e2f2f41862",
        "type": "ui_switch",
        "z": "83a54f9f17308e4e",
        "g": "b362225641bc7a8a",
        "name": "",
        "label": "ON",
        "tooltip": "",
        "group": "a3f484320da25085",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 1920,
        "wires": [
            [
                "e113f57fd09a7505"
            ]
        ]
    },
    {
        "id": "75aa207bfbae20b3",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "ce68e5f6a0108094",
        "item": "ns=4;s=DESKTOP-6OKFIJO_IRB140_6_81/SafetyStates/SAF/ParameterSet/EmergencyStop",
        "datatype": "Boolean",
        "value": "1",
        "name": "PARADA",
        "x": 1140,
        "y": 1180,
        "wires": [
            [
                "7e0d1736ae18894c"
            ]
        ]
    },
    {
        "id": "7e0d1736ae18894c",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "ce68e5f6a0108094",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1280,
        "y": 1180,
        "wires": [
            [
                "bf8c3dcb9b3c6edc"
            ]
        ]
    },
    {
        "id": "bf8c3dcb9b3c6edc",
        "type": "ui_led",
        "z": "83a54f9f17308e4e",
        "g": "ce68e5f6a0108094",
        "order": 6,
        "group": "1f0ba8197bea5228",
        "width": 0,
        "height": 0,
        "label": "Emergency Stop",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "ES",
        "x": 1410,
        "y": 1180,
        "wires": []
    },
    {
        "id": "532a33f3f4ad0cfa",
        "type": "ui_text",
        "z": "83a54f9f17308e4e",
        "g": "4902160ce26e1ae1",
        "group": "1f0ba8197bea5228",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nombre:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1420,
        "y": 1480,
        "wires": []
    },
    {
        "id": "30ebadece4a26343",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "4902160ce26e1ae1",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1280,
        "y": 1480,
        "wires": [
            [
                "532a33f3f4ad0cfa"
            ]
        ]
    },
    {
        "id": "7fdee18dbef995a9",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "4902160ce26e1ae1",
        "item": "ns=3;s=DESKTOP-6OKFIJO_IRB140_6_81/ControllerName",
        "datatype": "String",
        "value": "1",
        "name": "Name",
        "x": 1130,
        "y": 1480,
        "wires": [
            [
                "30ebadece4a26343"
            ]
        ]
    },
    {
        "id": "343f827a852642cb",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "4027fbf4f7ab5979",
        "item": "ns=3;s=DESKTOP-6OKFIJO_IRB140_6_81/ControllerExecutionState",
        "datatype": "Boolean",
        "value": "1",
        "name": "PARADA",
        "x": 1140,
        "y": 1280,
        "wires": [
            [
                "940c57e8bfd6aab0"
            ]
        ]
    },
    {
        "id": "940c57e8bfd6aab0",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "4027fbf4f7ab5979",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1280,
        "y": 1280,
        "wires": [
            [
                "75e94915d7e1cda5"
            ]
        ]
    },
    {
        "id": "75e94915d7e1cda5",
        "type": "ui_led",
        "z": "83a54f9f17308e4e",
        "g": "4027fbf4f7ab5979",
        "order": 7,
        "group": "1f0ba8197bea5228",
        "width": 0,
        "height": 0,
        "label": "Prendido",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PRENDIDO",
        "x": 1490,
        "y": 1280,
        "wires": []
    },
    {
        "id": "8feaaf1f641eaa97",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "3a547e85fca22b25",
        "item": "ns=4;s=DESKTOP-6OKFIJO_IRB140_6_81/MotionDevices/ROB_1/ParameterSet/InControl",
        "datatype": "Boolean",
        "value": "1",
        "name": "IN CONTROL",
        "x": 1160,
        "y": 1380,
        "wires": [
            [
                "73af4ba93f483e44"
            ]
        ]
    },
    {
        "id": "73af4ba93f483e44",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "3a547e85fca22b25",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1280,
        "y": 1380,
        "wires": [
            [
                "b1cf219e897ed28d"
            ]
        ]
    },
    {
        "id": "b1cf219e897ed28d",
        "type": "ui_led",
        "z": "83a54f9f17308e4e",
        "g": "3a547e85fca22b25",
        "order": 8,
        "group": "1f0ba8197bea5228",
        "width": 0,
        "height": 0,
        "label": "In Control",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "In Control",
        "x": 1420,
        "y": 1380,
        "wires": []
    },
    {
        "id": "b7213d856c0e70c9",
        "type": "ui_text",
        "z": "83a54f9f17308e4e",
        "g": "7717ce4beb2574cf",
        "group": "1f0ba8197bea5228",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1410,
        "y": 1580,
        "wires": []
    },
    {
        "id": "2ffb2ebb5c6dcf3c",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "7717ce4beb2574cf",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1280,
        "y": 1580,
        "wires": [
            [
                "b7213d856c0e70c9"
            ]
        ]
    },
    {
        "id": "244a455a02022cd2",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "7717ce4beb2574cf",
        "item": "ns=3;s=DESKTOP-6OKFIJO_IRB140_6_81/ControllerAddress",
        "datatype": "String",
        "value": "1",
        "name": "IP",
        "x": 1130,
        "y": 1580,
        "wires": [
            [
                "2ffb2ebb5c6dcf3c"
            ]
        ]
    },
    {
        "id": "2f0b677010155fb6",
        "type": "ui_text",
        "z": "83a54f9f17308e4e",
        "g": "42c6acf54e95ca69",
        "group": "1f0ba8197bea5228",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Modo planta:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1570,
        "y": 1780,
        "wires": []
    },
    {
        "id": "8c528eaa714eef46",
        "type": "function",
        "z": "83a54f9f17308e4e",
        "g": "42c6acf54e95ca69",
        "name": "",
        "func": "\nswitch(msg.payload){\n    case 1:\n        msg.payload=\"Manual con velocidad reducida\";\n        break;\n    case 2: \n        msg.payload = \"Manual con alta velocidad\"\n        break;\n    case 3: \n        msg.payload = \"Automático\"\n        break;\n    case 4:\n        msg.payload = \"Otro\"\n        break;\n    default:\n        msg.payload = \"Otro\"\n    break;\n\n\n}\n\n    return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 1780,
        "wires": [
            [
                "2f0b677010155fb6"
            ]
        ]
    },
    {
        "id": "31977bedd926b183",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "42c6acf54e95ca69",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1300,
        "y": 1780,
        "wires": [
            [
                "8c528eaa714eef46"
            ]
        ]
    },
    {
        "id": "5aef43c8a3fadfdf",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "42c6acf54e95ca69",
        "item": "ns=4;s=DESKTOP-6OKFIJO_IRB140_6_81/SafetyStates/SAF/ParameterSet/OperationalMode",
        "datatype": "Extension Object",
        "value": "Modo",
        "name": "Modo planta",
        "x": 1150,
        "y": 1780,
        "wires": [
            [
                "31977bedd926b183"
            ]
        ]
    },
    {
        "id": "468e46e1a581e6ba",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "96db288b205072df",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1300,
        "y": 1880,
        "wires": [
            [
                "9d625f98ffce82da"
            ]
        ]
    },
    {
        "id": "d9848ad22e61baa6",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "96db288b205072df",
        "item": "ns=4;s=DESKTOP-6OKFIJO_IRB140_6_81/Controllers/DESKTOP-6OKFIJO/TaskControls/T_ROB1/ParameterSet/TaskProgramLoaded",
        "datatype": "Boolean",
        "value": "Cargado",
        "name": "Modo planta",
        "x": 1150,
        "y": 1880,
        "wires": [
            [
                "468e46e1a581e6ba"
            ]
        ]
    },
    {
        "id": "9d625f98ffce82da",
        "type": "ui_led",
        "z": "83a54f9f17308e4e",
        "g": "96db288b205072df",
        "order": 5,
        "group": "1f0ba8197bea5228",
        "width": 0,
        "height": 0,
        "label": "Program Loaded",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PROGRAM LOADED",
        "x": 1500,
        "y": 1880,
        "wires": []
    },
    {
        "id": "994f8acb7e26f7bd",
        "type": "ui_text",
        "z": "83a54f9f17308e4e",
        "g": "f03fc388447ff6e6",
        "group": "1f0ba8197bea5228",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nombre programa:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1450,
        "y": 1680,
        "wires": []
    },
    {
        "id": "2c852f60c97e6688",
        "type": "OpcUa-Client",
        "z": "83a54f9f17308e4e",
        "g": "f03fc388447ff6e6",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1280,
        "y": 1680,
        "wires": [
            [
                "994f8acb7e26f7bd"
            ]
        ]
    },
    {
        "id": "b645c5748cc97b2d",
        "type": "OpcUa-Item",
        "z": "83a54f9f17308e4e",
        "g": "f03fc388447ff6e6",
        "item": "ns=4;s=DESKTOP-6OKFIJO_IRB140_6_81/Controllers/DESKTOP-6OKFIJO/TaskControls/T_ROB1/ParameterSet/TaskProgramName",
        "datatype": "String",
        "value": "1",
        "name": "PARADA",
        "x": 1140,
        "y": 1680,
        "wires": [
            [
                "2c852f60c97e6688"
            ]
        ]
    },
    {
        "id": "5c6d7b3ff2c74ad3",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "6ed7cc29413ccb6f",
        "item": "ns=4;s=140-102229_140-102229/MotionDevices/ROB_1/Axes/Rax_1/ParameterSet/ActualPosition",
        "datatype": "Double",
        "value": "1",
        "name": "ART 1 SIM",
        "x": 1150,
        "y": 780,
        "wires": [
            [
                "a200211d3d65566c"
            ]
        ]
    },
    {
        "id": "a200211d3d65566c",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "6ed7cc29413ccb6f",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "100",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1300,
        "y": 780,
        "wires": [
            [
                "f3bfdce825879526"
            ]
        ]
    },
    {
        "id": "3a0e5007c0fde32c",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "6ed7cc29413ccb6f",
        "item": "ns=4;s=140-102229_140-102229/MotionDevices/ROB_1/Axes/Rax_2/ParameterSet/ActualPosition",
        "datatype": "Double",
        "value": "1",
        "name": "ART 2 SIM",
        "x": 1150,
        "y": 840,
        "wires": [
            [
                "96571e59ca60456c"
            ]
        ]
    },
    {
        "id": "96571e59ca60456c",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "6ed7cc29413ccb6f",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "100",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1300,
        "y": 840,
        "wires": [
            [
                "ae8ea1d354ae82ac"
            ]
        ]
    },
    {
        "id": "56c14e0d9f697372",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "6ed7cc29413ccb6f",
        "item": "ns=4;s=140-102229_140-102229/MotionDevices/ROB_1/Axes/Rax_3/ParameterSet/ActualPosition",
        "datatype": "Double",
        "value": "1",
        "name": "ART 3 SIM",
        "x": 1150,
        "y": 900,
        "wires": [
            [
                "a445ef3f86b1544c"
            ]
        ]
    },
    {
        "id": "a445ef3f86b1544c",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "6ed7cc29413ccb6f",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "100",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1300,
        "y": 900,
        "wires": [
            [
                "4c3d71d4c05a0ae4"
            ]
        ]
    },
    {
        "id": "5782fca5a0e2e95c",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "6ed7cc29413ccb6f",
        "item": "ns=4;s=140-102229_140-102229/MotionDevices/ROB_1/Axes/Rax_4/ParameterSet/ActualPosition",
        "datatype": "Double",
        "value": "1",
        "name": "ART 4 SIM",
        "x": 1150,
        "y": 960,
        "wires": [
            [
                "ad6a1a975333e4d6"
            ]
        ]
    },
    {
        "id": "ad6a1a975333e4d6",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "6ed7cc29413ccb6f",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "100",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1300,
        "y": 960,
        "wires": [
            [
                "d662fcc6e26d5ace"
            ]
        ]
    },
    {
        "id": "4900d49d27dca770",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "6ed7cc29413ccb6f",
        "item": "ns=4;s=140-102229_140-102229/MotionDevices/ROB_1/Axes/Rax_5/ParameterSet/ActualPosition",
        "datatype": "Double",
        "value": "1",
        "name": "ART 5 SIM",
        "x": 1150,
        "y": 1020,
        "wires": [
            [
                "92f7463777af1b6c"
            ]
        ]
    },
    {
        "id": "92f7463777af1b6c",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "6ed7cc29413ccb6f",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "100",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1300,
        "y": 1020,
        "wires": [
            [
                "3f4a33b663c1812f"
            ]
        ]
    },
    {
        "id": "2c56bc8b9d0c1c01",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "6ed7cc29413ccb6f",
        "item": "ns=4;s=140-102229_140-102229/MotionDevices/ROB_1/Axes/Rax_6/ParameterSet/ActualPosition",
        "datatype": "Double",
        "value": "1",
        "name": "ART 6 SIM",
        "x": 1150,
        "y": 1080,
        "wires": [
            [
                "1566ea178905861b"
            ]
        ]
    },
    {
        "id": "1566ea178905861b",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "6ed7cc29413ccb6f",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "100",
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1300,
        "y": 1080,
        "wires": [
            [
                "aac697dec0640619"
            ]
        ]
    },
    {
        "id": "f3bfdce825879526",
        "type": "ui_chart",
        "z": "57cb9a3dd0f0a1f5",
        "g": "6ed7cc29413ccb6f",
        "name": "ANG1 SIM",
        "group": "debe9dda6ef6aa96",
        "order": 1,
        "width": "6",
        "height": "5",
        "label": "Ángulo articulación 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 780,
        "wires": [
            [
                "ae03c157633db625"
            ]
        ]
    },
    {
        "id": "ae8ea1d354ae82ac",
        "type": "ui_chart",
        "z": "57cb9a3dd0f0a1f5",
        "g": "6ed7cc29413ccb6f",
        "name": "ANG2 SIM",
        "group": "debe9dda6ef6aa96",
        "order": 2,
        "width": "6",
        "height": "5",
        "label": "Ángulo articulación 2",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 840,
        "wires": [
            [
                "0aa41e17c3c14bd2"
            ]
        ]
    },
    {
        "id": "4c3d71d4c05a0ae4",
        "type": "ui_chart",
        "z": "57cb9a3dd0f0a1f5",
        "g": "6ed7cc29413ccb6f",
        "name": "ANG3 SIM",
        "group": "debe9dda6ef6aa96",
        "order": 3,
        "width": "6",
        "height": "5",
        "label": "Ángulo articulación 3",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 900,
        "wires": [
            [
                "70f4e3226f5bb9ab"
            ]
        ]
    },
    {
        "id": "d662fcc6e26d5ace",
        "type": "ui_chart",
        "z": "57cb9a3dd0f0a1f5",
        "g": "6ed7cc29413ccb6f",
        "name": "ANG4 SIM",
        "group": "debe9dda6ef6aa96",
        "order": 4,
        "width": "6",
        "height": "5",
        "label": "Ángulo articulación 4",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 960,
        "wires": [
            [
                "39051c0a42100ffc"
            ]
        ]
    },
    {
        "id": "3f4a33b663c1812f",
        "type": "ui_chart",
        "z": "57cb9a3dd0f0a1f5",
        "g": "6ed7cc29413ccb6f",
        "name": "ANG5 SIM",
        "group": "debe9dda6ef6aa96",
        "order": 5,
        "width": "6",
        "height": "5",
        "label": "Ángulo articulación 5",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 1020,
        "wires": [
            [
                "f5bd105bc3919528"
            ]
        ]
    },
    {
        "id": "aac697dec0640619",
        "type": "ui_chart",
        "z": "57cb9a3dd0f0a1f5",
        "g": "6ed7cc29413ccb6f",
        "name": "ANG6 SIM",
        "group": "debe9dda6ef6aa96",
        "order": 6,
        "width": "6",
        "height": "5",
        "label": "Ángulo articulación 6",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 1080,
        "wires": [
            [
                "3511b9cdc7fb3a8d"
            ]
        ]
    },
    {
        "id": "ae03c157633db625",
        "type": "file",
        "z": "57cb9a3dd0f0a1f5",
        "d": true,
        "name": "datos ANG SIM",
        "filename": "C:\\Users\\andre\\Downloads\\Semestre-10\\SCADA y controladores industriales\\Projecto\\ang1.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1880,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "d81f964b63f6ac1e",
        "type": "file",
        "z": "57cb9a3dd0f0a1f5",
        "d": true,
        "name": "datos ANG SIM",
        "filename": "C:\\Users\\andre\\Downloads\\Semestre-10\\SCADA y controladores industriales\\Projecto\\ang1.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2020,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "4272df3626d9becf",
        "type": "file",
        "z": "57cb9a3dd0f0a1f5",
        "d": true,
        "name": "datos ANG SIM",
        "filename": "C:\\Users\\andre\\Downloads\\Semestre-10\\SCADA y controladores industriales\\Projecto\\ang1.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2020,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "cffbec56014a273e",
        "type": "file",
        "z": "57cb9a3dd0f0a1f5",
        "d": true,
        "name": "datos ANG SIM",
        "filename": "C:\\Users\\andre\\Downloads\\Semestre-10\\SCADA y controladores industriales\\Projecto\\ang1.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2020,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "07ed7cbe37ac8a9a",
        "type": "file",
        "z": "57cb9a3dd0f0a1f5",
        "d": true,
        "name": "datos ANG SIM",
        "filename": "C:\\Users\\andre\\Downloads\\Semestre-10\\SCADA y controladores industriales\\Projecto\\ang1.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2020,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "ee2821d8baefc2b4",
        "type": "file",
        "z": "57cb9a3dd0f0a1f5",
        "d": true,
        "name": "datos ANG SIM",
        "filename": "C:\\Users\\andre\\Downloads\\Semestre-10\\SCADA y controladores industriales\\Projecto\\ang1.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2020,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "0aa41e17c3c14bd2",
        "type": "delay",
        "z": "57cb9a3dd0f0a1f5",
        "d": true,
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1870,
        "y": 840,
        "wires": [
            [
                "d81f964b63f6ac1e"
            ]
        ]
    },
    {
        "id": "70f4e3226f5bb9ab",
        "type": "delay",
        "z": "57cb9a3dd0f0a1f5",
        "d": true,
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1870,
        "y": 900,
        "wires": [
            [
                "4272df3626d9becf"
            ]
        ]
    },
    {
        "id": "39051c0a42100ffc",
        "type": "delay",
        "z": "57cb9a3dd0f0a1f5",
        "d": true,
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1870,
        "y": 960,
        "wires": [
            [
                "cffbec56014a273e"
            ]
        ]
    },
    {
        "id": "f5bd105bc3919528",
        "type": "delay",
        "z": "57cb9a3dd0f0a1f5",
        "d": true,
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1870,
        "y": 1020,
        "wires": [
            [
                "07ed7cbe37ac8a9a"
            ]
        ]
    },
    {
        "id": "3511b9cdc7fb3a8d",
        "type": "delay",
        "z": "57cb9a3dd0f0a1f5",
        "d": true,
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1870,
        "y": 1080,
        "wires": [
            [
                "ee2821d8baefc2b4"
            ]
        ]
    },
    {
        "id": "0ffcb3a43a47077f",
        "type": "function",
        "z": "57cb9a3dd0f0a1f5",
        "g": "3b7edb04d90678d3",
        "name": "FLOW DAQ",
        "func": "flow.set(\"DAQREAL\",msg.payload)\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "0650f633f8f339dd",
        "type": "switch",
        "z": "57cb9a3dd0f0a1f5",
        "g": "3b7edb04d90678d3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 880,
        "wires": [
            [
                "00473a2006f68146"
            ]
        ]
    },
    {
        "id": "00473a2006f68146",
        "type": "delay",
        "z": "57cb9a3dd0f0a1f5",
        "g": "3b7edb04d90678d3",
        "name": "del .2s",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 350,
        "y": 880,
        "wires": [
            [
                "de0e3a639f4fce8f"
            ]
        ]
    },
    {
        "id": "de0e3a639f4fce8f",
        "type": "function",
        "z": "57cb9a3dd0f0a1f5",
        "g": "3b7edb04d90678d3",
        "name": "Clock .2s",
        "func": "var est = flow.get(\"DAQREAL\");\n\nmsg.payload=est;\n    return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 880,
        "wires": [
            [
                "0650f633f8f339dd",
                "2c56bc8b9d0c1c01",
                "4900d49d27dca770",
                "5782fca5a0e2e95c",
                "56c14e0d9f697372",
                "3a0e5007c0fde32c",
                "5c6d7b3ff2c74ad3",
                "d196a409139b6161",
                "23d4c08aba332d37",
                "10a7f4c2c5c69a75"
            ]
        ]
    },
    {
        "id": "ed7884d44c26655f",
        "type": "ui_slider",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d36d17c9dc3fce67",
        "name": "",
        "label": "Articulación 1",
        "tooltip": "",
        "group": "63e2b4f136e5e75c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-179",
        "max": "179",
        "step": 1,
        "className": "",
        "x": 800,
        "y": 1980,
        "wires": [
            [
                "140837cbf7668d7f"
            ]
        ]
    },
    {
        "id": "d2f52781e100c5b9",
        "type": "ui_slider",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d36d17c9dc3fce67",
        "name": "",
        "label": "Articulación 2",
        "tooltip": "",
        "group": "63e2b4f136e5e75c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-79",
        "max": "109",
        "step": 1,
        "className": "",
        "x": 800,
        "y": 2020,
        "wires": [
            [
                "5255e4c8ef9de162"
            ]
        ]
    },
    {
        "id": "11e970e4411f9864",
        "type": "ui_slider",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d36d17c9dc3fce67",
        "name": "",
        "label": "Articulación 3",
        "tooltip": "",
        "group": "63e2b4f136e5e75c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-229",
        "max": "49",
        "step": 1,
        "className": "",
        "x": 800,
        "y": 2060,
        "wires": [
            [
                "0d605cd82a296039"
            ]
        ]
    },
    {
        "id": "b2f739d2f05471cd",
        "type": "ui_slider",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d36d17c9dc3fce67",
        "name": "",
        "label": "Articulación 4",
        "tooltip": "",
        "group": "63e2b4f136e5e75c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-199",
        "max": "199",
        "step": 1,
        "className": "",
        "x": 800,
        "y": 2100,
        "wires": [
            [
                "c0d2d716cc6fd454"
            ]
        ]
    },
    {
        "id": "50e9ad2e21ec68a8",
        "type": "ui_slider",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d36d17c9dc3fce67",
        "name": "",
        "label": "Articulación 5",
        "tooltip": "",
        "group": "63e2b4f136e5e75c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-114",
        "max": "114",
        "step": 1,
        "className": "",
        "x": 800,
        "y": 2140,
        "wires": [
            [
                "467d7903861542ac"
            ]
        ]
    },
    {
        "id": "39692bd75b6f7994",
        "type": "ui_slider",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d36d17c9dc3fce67",
        "name": "",
        "label": "Articulación 6",
        "tooltip": "",
        "group": "63e2b4f136e5e75c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-399",
        "max": "399",
        "step": 1,
        "className": "",
        "x": 800,
        "y": 2180,
        "wires": [
            [
                "45230626fb2c6f54"
            ]
        ]
    },
    {
        "id": "0445747f7d44f8e1",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d36d17c9dc3fce67",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "65535",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "",
        "x": 1180,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "140837cbf7668d7f",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d36d17c9dc3fce67",
        "item": "ns=3;s=140-102229_140-102229/RAPID/T_ROB1/Module1/IOTJ1",
        "datatype": "Double",
        "value": "0",
        "name": "",
        "x": 1020,
        "y": 1980,
        "wires": [
            [
                "0445747f7d44f8e1"
            ]
        ]
    },
    {
        "id": "e1948cacd6e31003",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d36d17c9dc3fce67",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "65535",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "",
        "x": 1180,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "5255e4c8ef9de162",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d36d17c9dc3fce67",
        "item": "ns=3;s=140-102229_140-102229/RAPID/T_ROB1/Module1/IOTJ2",
        "datatype": "Double",
        "value": "0",
        "name": "",
        "x": 1020,
        "y": 2020,
        "wires": [
            [
                "e1948cacd6e31003"
            ]
        ]
    },
    {
        "id": "e73941a57dca1808",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d36d17c9dc3fce67",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "65535",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "",
        "x": 1180,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "0d605cd82a296039",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d36d17c9dc3fce67",
        "item": "ns=3;s=140-102229_140-102229/RAPID/T_ROB1/Module1/IOTJ3",
        "datatype": "Double",
        "value": "0",
        "name": "",
        "x": 1020,
        "y": 2060,
        "wires": [
            [
                "e73941a57dca1808"
            ]
        ]
    },
    {
        "id": "02e7d61525850e33",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d36d17c9dc3fce67",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "65535",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "",
        "x": 1180,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "c0d2d716cc6fd454",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d36d17c9dc3fce67",
        "item": "ns=3;s=140-102229_140-102229/RAPID/T_ROB1/Module1/IOTJ4",
        "datatype": "Double",
        "value": "0",
        "name": "",
        "x": 1020,
        "y": 2100,
        "wires": [
            [
                "02e7d61525850e33"
            ]
        ]
    },
    {
        "id": "19c2148a21b9a24e",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d36d17c9dc3fce67",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "65535",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "",
        "x": 1180,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "467d7903861542ac",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d36d17c9dc3fce67",
        "item": "ns=3;s=140-102229_140-102229/RAPID/T_ROB1/Module1/IOTJ5",
        "datatype": "Double",
        "value": "0",
        "name": "",
        "x": 1020,
        "y": 2140,
        "wires": [
            [
                "19c2148a21b9a24e"
            ]
        ]
    },
    {
        "id": "292ec1e2d71b5f10",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d36d17c9dc3fce67",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "65535",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "",
        "x": 1180,
        "y": 2180,
        "wires": [
            []
        ]
    },
    {
        "id": "45230626fb2c6f54",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d36d17c9dc3fce67",
        "item": "ns=3;s=140-102229_140-102229/RAPID/T_ROB1/Module1/IOTJ6",
        "datatype": "Double",
        "value": "0",
        "name": "",
        "x": 1020,
        "y": 2180,
        "wires": [
            [
                "292ec1e2d71b5f10"
            ]
        ]
    },
    {
        "id": "a5732e64c236b5ed",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "473023afabf44829",
        "item": "ns=3;s=140-102229_140-102229/RAPID/T_ROB1/Module1/POSY",
        "datatype": "Boolean",
        "value": "1",
        "name": "ART 2 SIM",
        "x": 110,
        "y": 1420,
        "wires": [
            [
                "39060f5005fb05a4"
            ]
        ]
    },
    {
        "id": "5d091634d6ab3f92",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "473023afabf44829",
        "item": "ns=3;s=140-102229_140-102229/RAPID/T_ROB1/Module1/POSZ",
        "datatype": "Double",
        "value": "1",
        "name": "ART 3 SIM",
        "x": 110,
        "y": 1480,
        "wires": [
            [
                "2ad99e9b70b81131"
            ]
        ]
    },
    {
        "id": "2ad99e9b70b81131",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "473023afabf44829",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 260,
        "y": 1480,
        "wires": [
            [
                "b2fa4b56e990d7f2"
            ]
        ]
    },
    {
        "id": "39060f5005fb05a4",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "473023afabf44829",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 260,
        "y": 1420,
        "wires": [
            [
                "3630a77ac3564bb3"
            ]
        ]
    },
    {
        "id": "3630a77ac3564bb3",
        "type": "ui_text",
        "z": "57cb9a3dd0f0a1f5",
        "g": "473023afabf44829",
        "group": "b080b492fea73c8b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Coordenada Y (mm)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 440,
        "y": 1420,
        "wires": []
    },
    {
        "id": "b2fa4b56e990d7f2",
        "type": "ui_text",
        "z": "57cb9a3dd0f0a1f5",
        "g": "473023afabf44829",
        "group": "b080b492fea73c8b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Coordenada Z (mm)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 440,
        "y": 1480,
        "wires": []
    },
    {
        "id": "414581d27526746a",
        "type": "ui_text",
        "z": "57cb9a3dd0f0a1f5",
        "g": "473023afabf44829",
        "group": "b080b492fea73c8b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Coordenada X (mm)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 440,
        "y": 1360,
        "wires": []
    },
    {
        "id": "4a9df0f8a24619a1",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "473023afabf44829",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT SUBS",
        "x": 260,
        "y": 1360,
        "wires": [
            [
                "414581d27526746a"
            ]
        ]
    },
    {
        "id": "bceb22e121941aba",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "473023afabf44829",
        "item": "ns=3;s=140-102229_140-102229/RAPID/T_ROB1/Module1/POSX",
        "datatype": "Double",
        "value": "1",
        "name": "ART 1 SIM",
        "x": 110,
        "y": 1360,
        "wires": [
            [
                "4a9df0f8a24619a1"
            ]
        ]
    },
    {
        "id": "a3bf78b971c7cc3f",
        "type": "ui_switch",
        "z": "57cb9a3dd0f0a1f5",
        "g": "3b7edb04d90678d3",
        "name": "",
        "label": "DAQ",
        "tooltip": "",
        "group": "3f06ffdf43fde693",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 920,
        "wires": [
            [
                "0ffcb3a43a47077f",
                "0650f633f8f339dd",
                "f165937e9e2fd36a",
                "f1fbd1d698437bf1",
                "48d8d4677072d170"
            ]
        ]
    },
    {
        "id": "f165937e9e2fd36a",
        "type": "clock-generator",
        "z": "57cb9a3dd0f0a1f5",
        "g": "3b7edb04d90678d3",
        "name": "Clock 1s",
        "topic": "",
        "period": "1",
        "output": "1",
        "init": false,
        "x": 120,
        "y": 1240,
        "wires": [
            [
                "bceb22e121941aba",
                "a5732e64c236b5ed",
                "5d091634d6ab3f92",
                "19076a83d33d497f",
                "970b8f9a08335a82",
                "68bc4ad98eb93169"
            ],
            []
        ]
    },
    {
        "id": "994f0f2e993a95a6",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "696a8265e1c06c34",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "65535",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "",
        "x": 520,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "de5b23ca223b2bae",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "696a8265e1c06c34",
        "item": "ns=3;s=140-102229_140-102229/IO_System/IO_Signals/DI_IOT_01",
        "datatype": "Boolean",
        "value": "0",
        "name": "",
        "x": 360,
        "y": 1840,
        "wires": [
            [
                "994f0f2e993a95a6"
            ]
        ]
    },
    {
        "id": "68324a14a1ada772",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "696a8265e1c06c34",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "65535",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "",
        "x": 460,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "7adb8edabf4d5d74",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "696a8265e1c06c34",
        "item": "ns=3;s=140-102229_140-102229/IO_System/IO_Signals/DI_INT_IOT_01",
        "datatype": "UInt32",
        "value": "0",
        "name": "",
        "x": 300,
        "y": 1980,
        "wires": [
            [
                "68324a14a1ada772"
            ]
        ]
    },
    {
        "id": "06633e759890b5c8",
        "type": "trigger",
        "z": "57cb9a3dd0f0a1f5",
        "g": "696a8265e1c06c34",
        "name": "PULSE",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "num",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 220,
        "y": 1840,
        "wires": [
            [
                "de5b23ca223b2bae"
            ]
        ]
    },
    {
        "id": "c5af318b08f8da51",
        "type": "ui_button",
        "z": "57cb9a3dd0f0a1f5",
        "g": "696a8265e1c06c34",
        "name": "",
        "group": "3f06ffdf43fde693",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Iniciar",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 1840,
        "wires": [
            [
                "06633e759890b5c8"
            ]
        ]
    },
    {
        "id": "dadf1a15377aeb51",
        "type": "ui_dropdown",
        "z": "57cb9a3dd0f0a1f5",
        "g": "696a8265e1c06c34",
        "name": "",
        "label": "Acción",
        "tooltip": "Seleccione una acción a realizar",
        "place": "Select option",
        "group": "3f06ffdf43fde693",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Program Home",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Routine Home",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Tool Left",
                "value": "3",
                "type": "str"
            },
            {
                "label": "Tool Right",
                "value": "4",
                "type": "str"
            },
            {
                "label": "Security",
                "value": "5",
                "type": "str"
            },
            {
                "label": "Joint Move",
                "value": "6",
                "type": "str"
            },
            {
                "label": "Linear Move",
                "value": "7",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 110,
        "y": 1980,
        "wires": [
            [
                "7adb8edabf4d5d74"
            ]
        ]
    },
    {
        "id": "e347db1531d9fc4c",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "e9b78c5222485069",
        "item": "ns=3;s=140-102229_140-102229/RAPID/T_ROB1/Module1/MOVEPOSZ",
        "datatype": "Double",
        "value": "1",
        "name": "MOVE POS Z",
        "x": 1100,
        "y": 2520,
        "wires": [
            [
                "a225c72956939e95"
            ]
        ]
    },
    {
        "id": "a225c72956939e95",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "e9b78c5222485069",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1320,
        "y": 2520,
        "wires": [
            []
        ]
    },
    {
        "id": "b113627f50a279dc",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "e9b78c5222485069",
        "item": "ns=3;s=140-102229_140-102229/RAPID/T_ROB1/Module1/MOVEPOSY",
        "datatype": "Double",
        "value": "1",
        "name": "MOVE POS Y",
        "x": 1100,
        "y": 2420,
        "wires": [
            [
                "913f28a4a41f901e"
            ]
        ]
    },
    {
        "id": "913f28a4a41f901e",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "e9b78c5222485069",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1320,
        "y": 2420,
        "wires": [
            []
        ]
    },
    {
        "id": "9f0ea2ae7aa70654",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "e9b78c5222485069",
        "item": "ns=3;s=140-102229_140-102229/IO_System/IO_Signals/IOT_MX",
        "datatype": "Int16",
        "value": "1",
        "name": "MOVE POS X",
        "x": 1100,
        "y": 2340,
        "wires": [
            [
                "14e1d3b1da0bd68c"
            ]
        ]
    },
    {
        "id": "14e1d3b1da0bd68c",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "e9b78c5222485069",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1320,
        "y": 2340,
        "wires": [
            []
        ]
    },
    {
        "id": "4878d3019ffc49be",
        "type": "ui_text_input",
        "z": "57cb9a3dd0f0a1f5",
        "g": "e9b78c5222485069",
        "name": "",
        "label": "Move X",
        "tooltip": "",
        "group": "79460a3c3dc6415c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "100",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 800,
        "y": 2300,
        "wires": [
            [
                "9f0ea2ae7aa70654"
            ]
        ]
    },
    {
        "id": "5b8003a3669c9eb1",
        "type": "ui_text_input",
        "z": "57cb9a3dd0f0a1f5",
        "g": "e9b78c5222485069",
        "name": "",
        "label": "Move Y",
        "tooltip": "",
        "group": "79460a3c3dc6415c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "100",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 800,
        "y": 2400,
        "wires": [
            [
                "b113627f50a279dc"
            ]
        ]
    },
    {
        "id": "31357a6ad68999b0",
        "type": "ui_text_input",
        "z": "57cb9a3dd0f0a1f5",
        "g": "e9b78c5222485069",
        "name": "",
        "label": "Move Z",
        "tooltip": "",
        "group": "79460a3c3dc6415c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "100",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 800,
        "y": 2500,
        "wires": [
            [
                "e347db1531d9fc4c"
            ]
        ]
    },
    {
        "id": "4baffee02add537d",
        "type": "ui_slider",
        "z": "57cb9a3dd0f0a1f5",
        "g": "e9b78c5222485069",
        "name": "",
        "label": "Move X",
        "tooltip": "",
        "group": "79460a3c3dc6415c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-100",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 800,
        "y": 2360,
        "wires": [
            [
                "9f0ea2ae7aa70654"
            ]
        ]
    },
    {
        "id": "2e4f57abcb0cb8a2",
        "type": "ui_slider",
        "z": "57cb9a3dd0f0a1f5",
        "g": "e9b78c5222485069",
        "name": "",
        "label": "Move Y",
        "tooltip": "",
        "group": "79460a3c3dc6415c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-100",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 800,
        "y": 2440,
        "wires": [
            [
                "b113627f50a279dc"
            ]
        ]
    },
    {
        "id": "c0ac10797c76e80c",
        "type": "ui_slider",
        "z": "57cb9a3dd0f0a1f5",
        "g": "e9b78c5222485069",
        "name": "",
        "label": "Move Z",
        "tooltip": "",
        "group": "79460a3c3dc6415c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-100",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 800,
        "y": 2560,
        "wires": [
            [
                "e347db1531d9fc4c"
            ]
        ]
    },
    {
        "id": "bde9b63d2af039d7",
        "type": "debug",
        "z": "57cb9a3dd0f0a1f5",
        "g": "696a8265e1c06c34",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1920,
        "wires": []
    },
    {
        "id": "8136d25aea2135f1",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "696a8265e1c06c34",
        "endpoint": "991a363c9d9d402d",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "65535",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "",
        "x": 340,
        "y": 1920,
        "wires": [
            [
                "bde9b63d2af039d7"
            ]
        ]
    },
    {
        "id": "0428af455ee476a3",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "696a8265e1c06c34",
        "item": "ns=3;s=140-102229_140-102229/IO_System/IO_Signals/DI_IOT_02",
        "datatype": "Boolean",
        "value": "0",
        "name": "STOP",
        "x": 210,
        "y": 1920,
        "wires": [
            [
                "8136d25aea2135f1"
            ]
        ]
    },
    {
        "id": "e30f840efae293de",
        "type": "ui_switch",
        "z": "57cb9a3dd0f0a1f5",
        "g": "696a8265e1c06c34",
        "name": "",
        "label": "ON",
        "tooltip": "",
        "group": "3f06ffdf43fde693",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 1920,
        "wires": [
            [
                "0428af455ee476a3"
            ]
        ]
    },
    {
        "id": "d196a409139b6161",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "72c9c7a90dcb2d39",
        "item": "ns=4;s=140-102229_140-102229/SafetyStates/SAF/ParameterSet/EmergencyStop",
        "datatype": "Boolean",
        "value": "1",
        "name": "PARADA",
        "x": 1120,
        "y": 1180,
        "wires": [
            [
                "2555137322627e72"
            ]
        ]
    },
    {
        "id": "2555137322627e72",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "72c9c7a90dcb2d39",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1260,
        "y": 1180,
        "wires": [
            [
                "a3b51d4c6551677d"
            ]
        ]
    },
    {
        "id": "a3b51d4c6551677d",
        "type": "ui_led",
        "z": "57cb9a3dd0f0a1f5",
        "g": "72c9c7a90dcb2d39",
        "order": 6,
        "group": "7b7fb2b782acc222",
        "width": 0,
        "height": 0,
        "label": "Emergency Stop",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "ES",
        "x": 1390,
        "y": 1180,
        "wires": []
    },
    {
        "id": "5a049473172abcda",
        "type": "ui_text",
        "z": "57cb9a3dd0f0a1f5",
        "g": "268e9d370d6c6092",
        "group": "7b7fb2b782acc222",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nombre:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 940,
        "y": 1300,
        "wires": []
    },
    {
        "id": "f5ef709fb1dc10a0",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "268e9d370d6c6092",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 800,
        "y": 1300,
        "wires": [
            [
                "5a049473172abcda"
            ]
        ]
    },
    {
        "id": "f1fbd1d698437bf1",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "268e9d370d6c6092",
        "item": "ns=3;s=140-102229_140-102229/ControllerName",
        "datatype": "String",
        "value": "1",
        "name": "Name",
        "x": 650,
        "y": 1300,
        "wires": [
            [
                "f5ef709fb1dc10a0"
            ]
        ]
    },
    {
        "id": "23d4c08aba332d37",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "7e36333d517f5fbb",
        "item": "ns=3;s=140-102229_140-102229/ControllerExecutionState",
        "datatype": "Boolean",
        "value": "1",
        "name": "PARADA",
        "x": 1160,
        "y": 1280,
        "wires": [
            [
                "171a9b8061d8bc6a"
            ]
        ]
    },
    {
        "id": "171a9b8061d8bc6a",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "7e36333d517f5fbb",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1300,
        "y": 1280,
        "wires": [
            [
                "561c8d52d0e505c9"
            ]
        ]
    },
    {
        "id": "561c8d52d0e505c9",
        "type": "ui_led",
        "z": "57cb9a3dd0f0a1f5",
        "g": "7e36333d517f5fbb",
        "order": 7,
        "group": "7b7fb2b782acc222",
        "width": 0,
        "height": 0,
        "label": "Prendido",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PRENDIDO",
        "x": 1510,
        "y": 1280,
        "wires": []
    },
    {
        "id": "10a7f4c2c5c69a75",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d522408f9a909e1e",
        "item": "ns=4;s=140-102229_140-102229/MotionDevices/ROB_1/ParameterSet/InControl",
        "datatype": "Boolean",
        "value": "1",
        "name": "IN CONTROL",
        "x": 1180,
        "y": 1400,
        "wires": [
            [
                "e5fa816290965cfd"
            ]
        ]
    },
    {
        "id": "e5fa816290965cfd",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d522408f9a909e1e",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 1300,
        "y": 1400,
        "wires": [
            [
                "9bbb328ce3ef2f0a"
            ]
        ]
    },
    {
        "id": "9bbb328ce3ef2f0a",
        "type": "ui_led",
        "z": "57cb9a3dd0f0a1f5",
        "g": "d522408f9a909e1e",
        "order": 8,
        "group": "7b7fb2b782acc222",
        "width": 0,
        "height": 0,
        "label": "In Control",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "In Control",
        "x": 1440,
        "y": 1400,
        "wires": []
    },
    {
        "id": "09e79ce431f70280",
        "type": "ui_text",
        "z": "57cb9a3dd0f0a1f5",
        "g": "619d727b47143cdd",
        "group": "7b7fb2b782acc222",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 1400,
        "wires": []
    },
    {
        "id": "ddda30950642a4ec",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "619d727b47143cdd",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 800,
        "y": 1400,
        "wires": [
            [
                "09e79ce431f70280"
            ]
        ]
    },
    {
        "id": "48d8d4677072d170",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "619d727b47143cdd",
        "item": "ns=3;s=140-102229_140-102229/ControllerAddress",
        "datatype": "String",
        "value": "1",
        "name": "IP",
        "x": 650,
        "y": 1400,
        "wires": [
            [
                "ddda30950642a4ec"
            ]
        ]
    },
    {
        "id": "eb560915b5e13cfc",
        "type": "ui_text",
        "z": "57cb9a3dd0f0a1f5",
        "group": "7b7fb2b782acc222",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Modo planta:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 1700,
        "wires": []
    },
    {
        "id": "24a6d0feba385122",
        "type": "function",
        "z": "57cb9a3dd0f0a1f5",
        "name": "",
        "func": "\nswitch(msg.payload){\n    case 1:\n        msg.payload=\"Manual con velocidad reducida\";\n        break;\n    case 2: \n        msg.payload = \"Manual con alta velocidad\"\n        break;\n    case 3: \n        msg.payload = \"Automático\"\n        break;\n    case 4:\n        msg.payload = \"Otro\"\n        break;\n    default:\n        msg.payload = \"Otro\"\n    break;\n\n\n}\n\n    return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1700,
        "wires": [
            [
                "eb560915b5e13cfc"
            ]
        ]
    },
    {
        "id": "c09d40d19173a471",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 320,
        "y": 1700,
        "wires": [
            [
                "24a6d0feba385122"
            ]
        ]
    },
    {
        "id": "19076a83d33d497f",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "item": "ns=4;s=140-102229_140-102229/SafetyStates/SAF/ParameterSet/OperationalMode",
        "datatype": "Extension Object",
        "value": "Modo",
        "name": "Modo planta",
        "x": 170,
        "y": 1700,
        "wires": [
            [
                "c09d40d19173a471"
            ]
        ]
    },
    {
        "id": "c94f728e19a99c59",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 300,
        "y": 1760,
        "wires": [
            [
                "f4155db2c998c774"
            ]
        ]
    },
    {
        "id": "970b8f9a08335a82",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "item": "ns=4;s=140-102229_140-102229/Controllers/140-102229/TaskControls/T_ROB1/ParameterSet/TaskProgramLoaded",
        "datatype": "Boolean",
        "value": "Cargado",
        "name": "Modo planta",
        "x": 150,
        "y": 1760,
        "wires": [
            [
                "c94f728e19a99c59"
            ]
        ]
    },
    {
        "id": "f4155db2c998c774",
        "type": "ui_led",
        "z": "57cb9a3dd0f0a1f5",
        "order": 5,
        "group": "7b7fb2b782acc222",
        "width": 0,
        "height": 0,
        "label": "Program Loaded",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PROGRAM LOADED",
        "x": 500,
        "y": 1760,
        "wires": []
    },
    {
        "id": "efa583546e92522e",
        "type": "ui_text",
        "z": "57cb9a3dd0f0a1f5",
        "g": "cc6ce35403b743e7",
        "group": "7b7fb2b782acc222",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nombre programa:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 1600,
        "wires": []
    },
    {
        "id": "f37aca7cb0cd0419",
        "type": "OpcUa-Client",
        "z": "57cb9a3dd0f0a1f5",
        "g": "cc6ce35403b743e7",
        "endpoint": "991a363c9d9d402d",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": 1,
        "maxMessageSize": "4194304",
        "receiveBufferSize": "65535",
        "sendBufferSize": "65535",
        "name": "CLIENT READ",
        "x": 340,
        "y": 1600,
        "wires": [
            [
                "efa583546e92522e"
            ]
        ]
    },
    {
        "id": "68bc4ad98eb93169",
        "type": "OpcUa-Item",
        "z": "57cb9a3dd0f0a1f5",
        "g": "cc6ce35403b743e7",
        "item": "ns=4;s=140-102229_140-102229/Controllers/140-102229/TaskControls/T_ROB1/ParameterSet/TaskProgramName",
        "datatype": "String",
        "value": "1",
        "name": "PARADA",
        "x": 200,
        "y": 1600,
        "wires": [
            [
                "f37aca7cb0cd0419"
            ]
        ]
    }
]